<!-- MOSAIC OF IMAGES -->
<div class="columns main">
    <div id="mosaic" class="column">
        {{#each posts}}
            <div class="mosaic-image" data-id="{{this.id}}">
                <div class="text-overlay">
                    <p class="mosaic-text has-text-weight-semibold is-family-sans-serif" data-id="{{this.id}}">{{this.post_title}}</p>
                </div>
                <img class="mosaic-inner lazy" src="{{this.post_image}}" data-id="{{this.id}}" onerror="this.src='/images/error.jpg'" loading="lazy" style="cursor:pointer;">
            </div>
        {{/each}}
    </div>
</div>
