<!-- PANEL OF IMAGE -->
<div class="post-full">
    <div id="post-main" class="columns main">
        <div id="post-column" class="column">
            {{#each postsObj.posts}}
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by3">
                        <img class="post-image" src="{{this.post_image}}" onerror="this.src='/images/error.jpg'">
                    </figure>
                </div>
                <div class="card-content" id="post-content">
                    <div class="media-content">
                        <p class="post-title title is-4">{{this.post_title}}</p>
                        <p class="subtitle">{{this.post_user}}</p>
                    </div>
                    <div class="content post-body">{{this.post_body}}</div>
                    <div id="if-embed"></div>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            <a onclick="nextPage()" class="next_button" data-id="{{this.id}}">Next</a>
                        </span>
                    </p>
                    <p class="card-footer-item">
                        <span>
                            <a onclick="previousPage()" class="previous_button" data-id="{{this.id}}">Previous</a>
                        </span>
                    </p>
                </footer>
            </div>
            {{/each}}
        </div>

        <div class="column">
            <div class="card">
                <div id="comments" class="card-content control">
                    <div class="media-content">
                        <p id="comments-title" class="title is-4">Comments</p>
                    </div>
                    <div class="content comment-size" id="comments-section">
                        {{#each comObj.comments}}
                        <div class="card comments-inner comment-left">
                            <div class="media-content">
                                <p class="subtitle comment-name">{{this.email}}</p>
                            </div>
                            <div class="content">
                                <p>{{this.comment}}</p>
                            </div>
                        </div>
                        {{/each}}

                        <div class="is-divider" style="padding-top: 30px;"><hr></div>

                        <div class="control" style="padding: 30px;">
                            <h2 class="title is-4" style="color:#fff;">Join the conversation</h2>
                            <textarea class="textarea" placeholder="Start typing here..."></textarea>
                            <button class="button is-warning" style="margin:20px 0 20px 0;">COMMENT</button>
                        </div>
                    </div>





                </div>
            </div>
            {{!-- FIGURE OUT HOW TO TIE COMMENT TABLE TO HERE & LOAD COMMENTS --}}
        </div>


    </div>
</div>

{{!-- NEXT PAGE, PREVIOUS PAGE BUTTONS --}}
<script type="text/javascript" id="CHANGING_BUTTON_LINK">
    function nextPage() {
        let dataIdN = $(".next_button").attr("data-id");
        let nextNum = parseInt(dataIdN) + 1;
        window.location.href = "/post/" + nextNum;
    };

    function previousPage() {
        let dataIdP = $(".previous_button").attr("data-id");
        let previousNum = parseInt(dataIdP) - 1;
        if (previousNum !== 0) {
            window.location.href = "/post/" + previousNum;
        } //If previous is 0, don't go
    };
</script>

{{!-- EMBEDDING IFRAMES --}}
<script type="text/javascript" id="IFRAME_EMBED">
    $(document).ready(function () {
        let postBod = $(".post-body");
        //console.log(postBod);
        let postBodVal = postBod[0].innerText;
        //console.log(postBodVal);
        let ifEmbed = $("#if-embed");
        if (postBodVal.includes("<iframe")) {
            console.log("Has embed link");
            ifEmbed.append(postBodVal);
            postBod.remove();
        }
    });
</script>