<!-- PANEL OF IMAGE -->
<div class="post-full">
    <div id="post-main" class="columns main">
        <div id="post-column" class="column">
            {{#each postsObj.posts}}
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by3">
                        <img class="post-image" src="{{this.post_image}}" onerror="this.src='/images/error.jpg'">
                    </figure>
                </div>
                <div class="card-content" id="post-content">
                    <div class="media-content">
                        <p class="post-title title is-4">{{this.post_title}}</p>
                        <p class="subtitle">{{this.post_user}}</p><p id="post-number" style="visibility: hidden; font-size: 2px" data-id="{{this.id}}"></p>
                    </div>
                    <div class="content post-body">{{this.post_body}}</div>
                    <div id="if-embed"></div>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                    <span>
                        <a onclick="nextPage()" class="next_button" data-id="{{this.id}}">Next</a>
                    </span>
                    </p>
                    <p class="card-footer-item">
                    <span>
                        <a onclick="previousPage()" class="previous_button" data-id="{{this.id}}">Previous</a>
                    </span>
                    </p>
                </footer>
            </div>
            {{/each}}
        </div>

        <div class="column">
            <div class="card">
                <div id="comments" class="card-content">
                    <div class="media-content">
                        <p id="comments-title" class="title is-4">Comments</p>
                    </div>
                    <div class="content" id="comments-section">
                        {{#each comObj.comments}}
                            <div class="card comments-inner comment-left">
                                <div class="media-content">
                                    <p class="subtitle comment-name comment-name-left">{{this.name}}</p>
                                </div>
                                <div class="content">
                                    <p>{{this.comment}}</p>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                        <footer class="card-footer">
                        <div class="card-footer-item">
                            <div class="control com-group">
                                <h2 class="title is-4" style="color:#fff;">Join the conversation</h2>
                                <input class="input is-info" id="add-comment" type="text" placeholder="Add a Comment">
                                <div class="buttons is-right">
                                    <button id="push-comment" class="button is-link is-right is-warning" style="margin-top: 5px;">Add Comment</button>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
 <div class="is-divider" style="padding-top: 30px;"><hr></div>





        </div>


    </div>
</div>


<!--
 _____ _____ _____ _____    _____ _____ _____ _____ _____ _____ _____
|  _  |  .  |   __|_   _|  | __  |   __|     |  |  |   __|   __|_   _|
|   __|  |  |__   | | |    |    -|   __|  |  |  |  |   __|__   | | |
|__|  |_____|_____| |_|    |__|__|_____|__  _|_____|_____|_____| |_|
                                          |__|
    -->

<script id="POST_REQUEST_FORPOSTS" type="text/javascript"> //Script for sending PUT request

$("#push-comment").on("click", function(event) {
    //console.log("Comment submit button pressed");
    let postId = parseInt($("#post-number").attr("data-id"));
    var name;
    let email = $("#messagebox").attr("data-login");
    let comment = $("#add-comment").val();

    let n = email.indexOf("@");
    //console.log("NAME: ");
    //console.log(email.substring(0, n));
    name = email.substring(0, n);

    //If comment field blank, modal
    if (comment === ""){
        console.log("Not enough info");
        $("#comment-modal").addClass("is-active"); //MAKE THIS
    } else {
        //otherwise add to db
        data = { //This sends the data from the fields to the server
        postId: postId,
        name: name,
        email: email,
        comment: comment
        }
        console.log(data);

        // Send the POST request.
        $.ajax("/post/comment", {
            type: "POST",
            data: data
        }).then(
        function(req) {
        });
        setTimeout(function() { //In 3 sec, go to post
        //console.log("Countdown fired");
        window.location.href = '/post/' + postId;
        }, 1000);
    };
});
</script>

<script id="COMMENT_OWNER">
    setTimeout(function() { //In 3 sec, go to post
        //console.log("Countdown fired");
        let userE = $("#messagebox").attr("data-login");
        let n = userE.indexOf("@");
        userE = userE.substring(0, n);

        $('.comment-name').each(function(i, obj) {
            let commentName = $(this).html();
            if (userE.trim() === commentName.trim()){
            //console.log("firing");
            $(this).removeClass("comment-name-left");
            $(this).addClass("comment-name-right");
            }
        });
        $('.comments-inner').each(function(i, obj) {
            let commentName = $(this).find("p").html();
            if (userE.trim() === commentName.trim()){
            //console.log("firing");
            $(this).removeClass("comment-left");
            $(this).addClass("comment-right");
            }
        });
    }, 1000);

</script>

{{!-- NEXT PAGE, PREVIOUS PAGE BUTTONS --}}
<script type="text/javascript" id="CHANGING_BUTTON_LINK">
    function nextPage() {
        let dataIdN = $(".next_button").attr("data-id");
        let nextNum = parseInt(dataIdN) + 1;
        window.location.href = "/post/" + nextNum;
    };

    function previousPage() {
        let dataIdP = $(".previous_button").attr("data-id");
        let previousNum = parseInt(dataIdP) - 1;
        if (previousNum !== 0){
            window.location.href = "/post/" + previousNum;
        } //If previous is 0, don't go
    };
</script>

{{!-- EMBEDDING IFRAMES --}}
<script type="text/javascript" id="IFRAME_EMBED">
    $(document).ready(function() {
        let postBod = $(".post-body");
        //console.log(postBod);
        let postBodVal = postBod[0].innerText;
        //console.log(postBodVal);
        let ifEmbed = $("#if-embed");
        if (postBodVal.includes("<iframe")) {
           console.log("Has embed link");
           ifEmbed.append(postBodVal);
           postBod.remove();
        }
    });
</script>



