<!-- PANEL OF IMAGE -->
<div class="post-full">
    <div id="post-main" class="columns main">
        <div id="post-column" class="column">
            {{#each postsObj.posts}}
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by3">
                        <img class="post-image" src="{{this.post_image}}" onerror="this.src='/images/error.jpg'">
                    </figure>
                </div>
                <div class="card-content" id="post-content">
                    <div class="media-content">
                        <p class="post-title title is-4">{{this.post_title}}</p>
                        <p class="subtitle" style="margin-bottom: 0px;">{{this.post_user}}</p><p id="post-number" style="visibility: hidden; font-size: 2px" data-id="{{this.id}}"></p>
                        <p class="subtitle" style="font-size: 14px; margin-bottom: 1rem;">{{this.post_type}}</p>
                    </div>
                    <div class="content post-body">{{this.post_body}}</div>
                    <div id="if-embed"></div>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                    <span>
                        <a onclick="nextPage()" class="next_button" data-id="{{this.id}}">Next</a>
                    </span>
                    </p>
                    <p class="card-footer-item">
                    <span>
                        <a onclick="previousPage()" class="previous_button" data-id="{{this.id}}">Previous</a>
                    </span>
                    </p>
                </footer>
            </div>
            {{/each}}
        </div>

        <div class="column">
            <div class="card">
                <div id="comments" class="card-content">
                    <div class="media-content">
                        <p id="comments-title" class="title is-4">Comments</p>
                    </div>
                    <div class="content" id="comments-section">
                        {{#each comObj.comments}}
                            <div class="card comments-inner comment-left">
                                <div class="media-content">
                                    <p class="subtitle comment-name comment-name-left">{{this.name}}</p>
                                </div>
                                <div class="content">
                                    <p>{{this.comment}}</p>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                        <footer class="card-footer">
                        <div class="card-footer-item">
                            <div class="control com-group">
                                <h2 class="title is-4" style="color:#fff;">Join the conversation</h2>
                                <input class="input is-info" id="add-comment" type="text" placeholder="Add a Comment">
                                <div class="buttons is-right">
                                    <button id="push-comment" class="button is-link is-right is-warning" style="margin-top: 5px;">Add Comment</button>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

  <div id="not-loggedin-modal" class="modal">
    <div class="modal-background"></div>
    <div class="card" id="modal-content" style="margin: 3%;">
      <div class="card-content">
        <p class="title">
          Come on in!
        </p>
        <p class="subtitle">
           - Chrissy, Jaws
        </p>
      </div>
      <footer class="card-footer" style="padding: 15px;">
        <p>You must be logged in to post comments. Please log in or sign up if you do not have an account.</p>
      </footer>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <div id="comment-modal" class="modal">
    <div class="modal-background"></div>
    <div class="card" id="modal-content" style="margin: 3%;">
      <div class="card-content">
        <p class="title">
          Empty Comment
        </p>
        <img class="img-on-modal" src="http://cdn140.picsart.com/300363128099211.png">
      </div>
      <footer class="card-footer" style="padding: 15px;">
        <p>No empty comments allowed. Come on.</p>
      </footer>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

</body>

<script src="/js/post.js" type="text/javascript"></script>